<?xml version="1.0"?>
<root xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <ConfigParam xsi:type="ConfigParametrNumber">
    <Name>DelayTime</Name>
    <Comment>Time interval between commands execution, ms.</Comment>
    <Value>1</Value>
  </ConfigParam>
  <ConfigParam xsi:type="ConfigParametrNumber">
    <Name>TimeoutTime</Name>
    <Comment>Time interval for command execution, ms.</Comment>
    <Value>30000</Value>
  </ConfigParam>
  <ConfigParam xsi:type="ConfigParametrString">
    <Name>ChromeDriverName</Name>
    <Comment>The name of the ChromeDriver executable file.</Comment>
    <Value>chromedriver.exe</Value>
  </ConfigParam>
  <ConfigParam xsi:type="ConfigParametrString">
    <Name>ChromePath</Name>
    <Comment>Location of the Chrome browser's binary executable file.</Comment>
    <Value />
  </ConfigParam>
  <ConfigParam xsi:type="ConfigParametrString">
    <Name>FirefoxDriverName</Name>
    <Comment>The name of the Firefox driver executable file.</Comment>
    <Value>geckodriver.exe</Value>
  </ConfigParam>
  <ConfigParam xsi:type="ConfigParametrString">
    <Name>FirefoxPath</Name>
    <Comment>Location of the Firefox browser's binary executable file.</Comment>
    <Value />
  </ConfigParam>
  <ConfigParam xsi:type="ConfigParametrString">
    <Name>InternetExplorerDriverName</Name>
    <Comment>The name of the IEDriverServer executable file.</Comment>
    <Value>IEDriverServer.exe</Value>
  </ConfigParam>
  <ConfigParam xsi:type="ConfigParametrString">
    <Name>InternetExplorerPath</Name>
    <Comment>Location of the InternetExplorer browser's binary executable file.</Comment>
    <Value />
  </ConfigParam>
  <ConfigParam xsi:type="ConfigParametrString">
    <Name>Ports</Name>
    <Comment>List of available ports used by browsers delimeted with comma or semicolon, range is marked with double dot.</Comment>
    <Value>1,2;3..5</Value>
  </ConfigParam>
  <ConfigParam xsi:type="ConfigParametrString">
    <Name>DownloadPath</Name>
    <Comment>Download folder location.</Comment>
    <Value />
  </ConfigParam>
  <ConfigParam xsi:type="ConfigParametrBoolean">
    <Name>CloseOnComplete</Name>
    <Comment>Turn on for Robot.Runner to close after robot has been executed.</Comment>
    <Value>false</Value>
  </ConfigParam>
  <ConfigParam xsi:type="ConfigParametrBoolean">
    <Name>DisplayResult</Name>
    <Comment>Turn on for Robot.Runner to display execution result on finish.</Comment>
    <Value>false</Value>
  </ConfigParam>
  <ConfigParam xsi:type="ConfigParametrString">
    <Name>LogsFolder</Name>
    <Comment>The path to the folder with log files produced by Robot.Runner.exe. Default is '%temp%\Robot.Runner\'.</Comment>
    <Value />
  </ConfigParam>
  <ConfigParam xsi:type="ConfigParametrString">
    <Name>FilesFolder</Name>
    <Comment>The path to the folder with robot temporary files. Default is '%localAppData%\Robot.Runner\'</Comment>
    <Value />
  </ConfigParam>
  <ConfigParam xsi:type="ConfigParametrString">
    <Name>MailServer</Name>
    <Comment>Mail server</Comment>
    <Value />
  </ConfigParam>
  <ConfigParam xsi:type="ConfigParametrNumber">
    <Name>MailPort</Name>
    <Comment>Mail port</Comment>
    <Value>0</Value>
  </ConfigParam>
  <ConfigParam xsi:type="ConfigParametrString">
    <Name>MailUser</Name>
    <Comment>Mail user</Comment>
    <Value />
  </ConfigParam>
  <ConfigParam xsi:type="ConfigParametrString">
    <Name>MailPassword</Name>
    <Comment>Mail user password</Comment>
    <Value />
  </ConfigParam>
  <ConfigParam xsi:type="ConfigParametrString">
    <Name>MailAllList</Name>
    <Comment>List of recipients to be notified on robot execution, delimited with ';' or ',' signs.</Comment>
    <Value />
  </ConfigParam>
  <ConfigParam xsi:type="ConfigParametrBoolean">
    <Name>MailAllWithLogs</Name>
    <Comment>Turn on to attach log file to email with robot execution.</Comment>
    <Value>false</Value>
  </ConfigParam>
  <ConfigParam xsi:type="ConfigParametrString">
    <Name>MailFailureList</Name>
    <Comment>List of recipients to be notified on robot execution errors, delimited with ';' or ',' signs.</Comment>
    <Value />
  </ConfigParam>
  <ConfigParam xsi:type="ConfigParametrBoolean">
    <Name>MailFailureWithLogs</Name>
    <Comment>Turn on to attach log file to email with robot execution errors.</Comment>
    <Value>false</Value>
  </ConfigParam>
  <ConfigParam xsi:type="ConfigParametrString">
    <Name>ServerURL</Name>
    <Comment>Web socket server URL.</Comment>
    <Value />
  </ConfigParam>
  <ConfigParam xsi:type="ConfigParametrNumber">
    <Name>Frequency</Name>
    <Comment>Frequency, ms.</Comment>
    <Value>1000</Value>
  </ConfigParam>
  <ConfigParam xsi:type="ConfigParametrString">
    <Name>AgentName</Name>
    <Comment>Agent name. Unique identifier.</Comment>
    <Value>LAPTOP-C8DGJ823</Value>
  </ConfigParam>
  <ConfigParam xsi:type="ConfigParametrString">
    <Name>Tags</Name>
    <Comment>Available applications.</Comment>
    <Value />
  </ConfigParam>
  <ConfigParam xsi:type="ConfigParametrString">
    <Name>Repos</Name>
    <Comment>Available repositories.</Comment>
    <Value />
  </ConfigParam>
  <ConfigParam xsi:type="ConfigParametrString">
    <Name>GitURL</Name>
    <Comment>Git url. [obsolete]</Comment>
    <Value />
  </ConfigParam>
  <ConfigParam xsi:type="ConfigParametrString">
    <Name>GitLogin</Name>
    <Comment>Git login. [temp]</Comment>
    <Value />
  </ConfigParam>
  <ConfigParam xsi:type="ConfigParametrString">
    <Name>GitPassword</Name>
    <Comment>Git password. [temp]</Comment>
    <Value />
  </ConfigParam>
</root>